# Application Setup
NODE_ENV=development
PORT=3080
SITE_URL=http://localhost:3080
API_URL=http://localhost:3080/v1

# Database Configuration
MONGODB_URL=mongodb+srv://<user_name>:<password>@cluster0.a2uzewd.mongodb.net/?appName=Cluster0
DB_USER=
DB_PASSWORD=

# JWT Secrets & Expiration
JWT_SECRET=thisisshivamgoswami
JWT_ACCESS_EXPIRATION_MINUTES=10
JWT_REFRESH_EXPIRATION_DAYS=30

#below config is  not needed for now ,run without it
# AWS S3 Configuration
S3_BUCKET=my-s3-bucket-name
AccessKeyID=your_aws_access_key_id
SecretAccessKey=your_aws_secret_access_key
S3_REGION=us-east-1

# Email Configuration (SMTP / Nodemailer)
SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USERNAME=your_smtp_username
SMTP_PASSWORD=your_smtp_password
EMAIL_FROM=noreply@example.com

# Third-Party API Keys
SENDGRID_API_KEY=SG.your_sendgrid_key
STRIPE_API_KEY=sk_test_your_stripe_key